@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
}


header{
    background-color: rgb(66, 171, 248);
    color: white;
    width: 100px;
    margin-left: auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    
}

ul{
    list-style: none;
}

li{
    background-color: rgb(244, 245, 247);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

i{
    color: rgb(35, 190, 94);
    font-size: 1.5em;
    padding-right: 30px;
}

section{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}