@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: rgb(255, 217, 176);
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    background-color: rgb(17, 17, 17);
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
}

.main-section-image{
    width: 1400px;
    height: 500px;
    
}

.main-section-image img{
    width:  100%;
    height: 100%;
    border-radius: 10px;
}

.main-section-booking{
    width: 100%;
}

.main-section-booking form{
    color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.main-section-booking form h3{
    text-align: center;
}

.main-section-booking form input{
    width: 300px;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    margin: 30px 0;
}

.main-section-booking form button{
    color: white;
    border: none;
    background-color: rgb(237, 183, 125);
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
}

