*{
    box-sizing: border-box ;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(238, 238, 238);
}


.page-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

header .site-title{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
}
h1, h2 {
   font-family:   Georgia, serif;
    font-weight: normal;
}

.after-title{
    border-color: solid black;
}

img{
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}


.first-picture{
    float: right;
    margin-left: 20px;
   
}

h2{
    clear:both;
}

blockquote{
    font-family: Georgia, serif;
    border-left: 4px solid rgb(221, 221, 221);
    margin: 0;
    padding-left: 40px;
    color: rgb(68, 68, 68);
    float: right;
    width: 50%;
}

blockquote p{
    margin-top: 0;
}

blockquote footer{
    text-align: right;
}

.half-paragraph{
    width: 50%;
    float: left;
    padding-right: 20px;
    margin-top: 0px;
}

.clearFloatingTwo{
    clear:both;
}

.second-picture{
    float: left;
    margin-right: 20px;
}
h3 {
    font-family: Georgia, serif;
    font-size: 1em;
}

a{
    text-decoration: none;
    color:green;
}

li{
    list-style-type: square;
  
}

main{
    width: 70%;
    float: left;
    padding-right: 20px;
    margin-top: 0px;
}

aside{
    float: right;
    width: 30%;
    padding-left: 40px;
}