@import url('https://fonts.google.com/specimen/Open+Sans');

html{
    box-sizing: border-box;
    
}

*{
    padding: 0;
    margin: 0;
}

*:before, *:after{
    box-sizing: inherit;
}

.site{
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-image: cross-fade();
    background-color: black;
    position: absolute; 
    height: 100%; 
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-position: 50% 50%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.site{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    align-self: center;
}

.login{
    border-radius: 5%;
    background-color: white;
}

.login input {
    padding: 10px;
}

h2{
    color: white;
}

