body{
    margin: 0;
    background: #EEEEEE;
}

main{
    padding: 1em 3em;
    width: 70%;
    margin: 1em auto;

}

.gallery li{
    display: inline-block;
    vertical-align: middle;
    border: 3px solid black;
    background: white;
    padding: 10px;
    margin: 0.6em;
    width: 29%;
}
.gallery li img{
    width: 100%;
}


